{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/c.css">
    <title>Site portifólio(Guilherme Dutra)</title>
</head>
<body>
    <section class="certificados">
        <div class="certificado">
            <img src="../static/media/fotos/Django.png" class="imgcertificado">
            <h2 class="titulos">Curso Django da Alura</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/Django-API.png" class="imgcertificado">
            <h2 class="titulos">Curso Django API Alura</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/python-objeto.png" class="imgcertificado">
            <h2 class="titulos">Curso Python orientação a objetos</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/HTML-CSS-zero.png" class="imgcertificado">
            <h2 class="titulos">Curso HTML e CSS Alura</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/Figma_9x42wUc.png" class="imgcertificado">
            <h2 class="titulos">Curso de Figma</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/flask_Iv5rXkq.png" class="imgcertificado">
            <h2 class="titulos">Curso de Flask</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/Css_303EMJ8.png" class="imgcertificado">
            <h2 class="titulos">Curso de Css</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/Full-stack-javascript_HM4sOFd.png" class="imgcertificado">
            <h2 class="titulos">Curso de Full-stack de JavaScript</h2>
        </div>
        <div class="certificado">
            <img src="../static/media/fotos/Javascript_D2608bj.png" class="imgcertificado">
            <h2 class="titulos">Curso de JavaScript</h2>
        </div>
    </section>
    {% endblock %}