{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/port.css">
    <title>Site portifólio(Guilherme Dutra)</title>
</head>
<body>
    <div class="conteiner">

        </div>
    </div>
    <section class="projetos">
        <div class="projeto">
            <a href="/portifólio/1" ><img src="../static/media/fotos/calculadora_s6c7j15.png" class="imgprojeto">
            <h2>Calculadora</h2></a>
            <a href="/portifólio/1"><p class="lingua">PYTHON</p></a>
        </div>
        <div class="projeto">
            <a href="/portifólio/2" ><img src="../static/media/fotos/Agenda_vbCD9v3.png" class="imgprojeto">
            <h2>Agenda de contatos</h2></a>
            <a href="/portifólio/2"><p class="lingua">PYTHON</p></a>
        </div>
        <div class="projeto">
            <a href="/portifólio/3" ><img src="../static/media/fotos/conversor_OcTPy9N.png" class="imgprojeto">
            <h2>Conversor de temperaturas</h2></a>
            <a href="/portifólio/3"><p class="lingua">PYTHON</p></a>
        </div>
        <div class="projeto">
            <a href="/portifólio/4" ><img src="../static/media/fotos/gerador_jNJ6eGt.png" class="imgprojeto">
            <h2>Gerador de senhas</h2></a>
            <a href="/portifólio/4"><p class="lingua">PYTHON</p></a>
        </div>
        <div class="projeto">
            <a href="/portifólio/5" ><img src="../static/media/fotos/Gerenciador.png" class="imgprojeto">
            <h2>Gerenciador de senhas</h2></a>
            <a href="/portifólio/5"><p class="lingua">PYTHON</p></a>
        </div>
    </section>
    {% endblock %}

