{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/project.css">
    <title>Site portifólio(Guilherme Dutra)</title>
</head>
<body>
    <section class="projeto">
        <div class="img">
            <img src="../static/media/fotos/calculadora_s6c7j15.png" class="img-projeto">
            <h1 class="titulo">Calculadora</h1>
            <p class="Status">Finalizado</p>
            <p class="Post">Postado em: 2024-04-24 13:46:59</p>
            <p class="atualizado">Atualizado em: 2024-05-02 13:39:31</p>
        </div>
        <div class="objetivo">
            <p class="text-objetivo">Esse programa foi feito para ser uma réplica de uma calculadora. Esse foi o meu primeiro projeto com Tkinter, então tem diversas elementos que estão crus que com o passar do tempo foram melhorados.</p>
        </div>
        <div class="video">
            <video src="../static/media/video/calculadora-video_ijXZO3u.mp4" type="mp4" controls="True" class="video-projeto"></video>
            <a href="https://github.com/kakeiko/calculadora-python/blob/main/main.py" class="codigo" target="_blank"><p>Veja o código</p></a>
            <p class="text-projeto">Esse projeto não da suporte á calculadoras mais avançadas como uma calculadora científica, mas ela serve para o propósito que foi criada</p>
        </div>
    </section>
    {% endblock %}