{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/project.css">
    <title>Site portifólio(Guilherme Dutra)</title>
</head>
<body>
    <section class="projeto">
        <div class="img">
            <img src="../static/media/fotos/gerador_jNJ6eGt.png" class="img-projeto">
            <h1 class="titulo">Gerador de senhas</h1>
            <p class="Status">Finalizado</p>
            <p class="Post">Postado em: 2024-05-04 14:54:03</p>
            <p class="atualizado">Atualizado em: 2024-05-04 14:54:03</p>
        </div>
        <div class="objetivo">
            <p class="text-objetivo">O gerador de senhas faz o que ele diz, gera senhas de maneira aleatória com algumas exigências como tamanho da senha, e caracteres disponíveis.</p>
        </div>
        <div class="video">
            <video src="../static/media/video/gerador-de-senha_SWcnhP1.mp4" type="mp4" controls="True" class="video-projeto"></video>
            <a href="https://github.com/kakeiko/Gerador-de-senhas/blob/main/main.py" class="codigo" target="_blank"><p>Veja o código</p></a>
            <p class="text-projeto">Foi usado o Tkinter e algumas bibliotecas adicionais como random e string.</p>
        </div>
    </section>
    {% endblock %}