

:root{
    --cor-Letras:#EFDFC5;
    --cor-Letras-2:#dc2011;
    --cor-Background: #252b2b;
    --cor-background-2: #4c4f54;
}

body{
    background-color: #252B2B;
}
.certificado{
    width: 20vw;
    height: auto;
    margin: 0 7em 3em  0;
}
.imgcertificado{
    width: 25vw;
    border-radius: 20px;
}
.imgcertificado:hover{
    transform: scale(1.5);
    transition: .5s;
}
.certificados{
    position: relative;
    left: 30%;
    margin-top: 12em;
    width: 60vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.titulos{
    color: var(--cor-Letras-2);
}
*{
    padding-bottom: 0px;
    margin: 0;
    font-family: 'Righteous';
    color: #EFDFC5;
    text-decoration: none;
}
