

:root{
    --cor-Letras:#EFDFC5;
    --cor-Letras-2:#dc2011;
    --cor-Background: #252b2b;
    --cor-background-2: #4c4f54;
}

*{
    padding: 0px;
    margin: 0;
    font-family: 'Righteous';
    color: var(--cor-Letras);
    text-decoration: none;
}
body{
    background-color: var(--cor-Background);
}
.projeto{
    margin: 7em 10em 0 25em;
}

.titulo{
    color: var(--cor-Letras-2);
    font-size: 32px;
    margin: .5em 0;
}
.Status, .Post, .atualizado, .codigo{
    text-align: left;
    margin-top: .25em;
    font-size: 12px;
}
.img-projeto, .video-projeto{
    width: 35vw;
    border-radius: 24px;
}
.text-objetivo, .text-projeto{
    margin: 2em 0;
    font-size: 18px;
}
